<div class="container mt-5">
  <h3 class="mb-4 text-center">Ajouter un nouvel article</h3>
  <form (submit)="addArticle(titleInput, photoInput, descriptionInput); $event.preventDefault()">
    <div class="form-group">
      <label for="titleInput">Titre:</label>
      <input type="text" class="form-control rounded" id="titleInput" #titleInput placeholder="Entrer le titre" required />
    </div>
    <div class="form-group">
      <label for="photoInput">Photo URL:</label>
      <input type="text" class="form-control rounded" id="photoInput" #photoInput placeholder="Entrer l'URL de la photo" required />
    </div>
    <div class="form-group">
      <label for="descriptionInput">Description:</label>
      <textarea class="form-control rounded" id="descriptionInput" #descriptionInput rows="3" placeholder="Entrer la description" required></textarea>
    </div>
    <div class="text-center mt-3">
      <button type="submit" class="btn btn-info btn-lg w-100">Ajouter l'article</button>
    </div>
  </form>
</div>